
__pycache__/
*.py[cod]
*$py.class


venv/
.env
.env.*


*.log
local_settings.py
db.sqlite3


media/
staticfiles/


.vscode/


.DS_Store
Thumbs.db


*.sql
*.dump


.env
config/settings_local.py



node_modules/


.coverage
htmlcov/

.idea/